# Local .terraform directories
.terraform
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#*.tfvars
*.tfvars.json

# Ignore CLI configuration files
.terraformrc
terraform.rc
.DS_Store
.terraform.lock.hcl

.terragrunt-cache